
<nav class="navbar navbar-expand-lg text-secondary ">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/"><i>Read & Reflect</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%if(currentUser) {%>
            <a class="nav-link fw-bold" href="/books/<%= currentUser %>">My Reading list</a>
            <a class="nav-link fw-bold" href="/search">Search</a>
            <a class="nav-link fw-bold" href="/notes/<%= currentUser %>">My Notes</a>
                <% } %>
        </div>
        <div class="navbar-nav ms-auto">
            <% if(!currentUser) {%>
            <a class="nav-link fw-bold" href="/login">Login</a>
            <a class="nav-link fw-bold" href="/register">Register</a>
            <% } else {%>
            <a class="nav-link fw-bold" href="/logout">Logout</a>
            <% } %>
        </div>
    </div>
</div>
</nav> 
