<%- include('./partials/header')%>
<body class="d-flex flex-column vh-100">
    <%- include('./partials/navbar')%>
    <main class="container mt-5">
        <%- include('./partials/flash')%>
        <h1>welcome</h1>
        
    </main>
    <%- include('./partials/footer')%>
